[Unit]
Description=Ignition (setup user config)
Documentation=https://github.com/coreos/ignition
ConditionPathExists=/etc/initrd-release
DefaultDependencies=false
Before=ignition-complete.target

After=boot.mount

# Stage order: setup -> fetch -> disks -> mount -> files.
Before=ignition-fetch.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/ignition-setup-user
