[Unit]
Description=Remount /sysroot read-write for Ignition
DefaultDependencies=no
After=sysroot.mount
ConditionPathIsReadWrite=!/sysroot

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mount -o remount,rw /sysroot
