[Unit]
Description=Ignition (files)
DefaultDependencies=false
Before=initrd.target

# Make sure if ExecStart= fails, the boot fails
OnFailure=emergency.target
OnFailureJobMode=isolate

# Ignition files stage starts after /sysroot is mounted.
Requires=initrd-root-fs.target
After=initrd-root-fs.target

# Make sure root filesystem is mounted read-write
Requires=ignition-remount-sysroot.service
After=ignition-remount-sysroot.service

# Run before initrd-parse-etc so that we can drop files it then picks up.
Before=initrd-parse-etc.service

# Network may be required to fetch userdata content.
After=network.target

# This is guaranteed through After=initrd-root-fs.target but just to
# be explicit we'll add an After=ignition-disks.service here.
After=ignition-disks.service

[Service]
Type=oneshot
EnvironmentFile=/run/ignition.env
ExecStart=/usr/bin/ignition --root=/sysroot --oem=${OEM_ID} --stage=files --log-to-stdout
# Hack to just always relabel /var on first boot. This is run by
# systemd-tmpfiles shortly after mounting things, so there isn't a lot of data
# yet in it. See https://bugzilla.redhat.com/show_bug.cgi?id=1699107. Ideally,
# systemd would learn to do this at mount time to avoid race conditions. See:
# https://github.com/systemd/systemd/pull/11903
ExecStart=/usr/bin/mkdir -p /run/tmpfiles.d
ExecStart=/usr/bin/sh -c "echo 'Z /var - - -' > /run/tmpfiles.d/var-relabel.conf"
