[Unit]
Description=Ignition (files)
DefaultDependencies=false
#Before=initrd-parse-etc.service # on ostree systems, the real config is in the deployment root's /etc

Requires=initrd-root-fs.target
After=initrd-root-fs.target

# we need to run after ostree-prepare-root sets up the deployment root at
# /sysroot, but *before* we switch to it
After=ostree-prepare-root.service
Before=initrd-switch-root.target
Before=initrd-switch-root.service

#Requires=ignition-setup.service ignition-disks.service
#After=ignition-setup.service ignition-disks.service

Requires=ignition-disks.service
After=ignition-disks.service

Requires=remount-sysroot.service
After=remount-sysroot.service

# setup the root filesystem before we try do things like create users on it.
#Requires=initrd-setup-root.service
#After=initrd-setup-root.service

# setup networking
After=network.target

# generate resolv.conf
#Wants=systemd-resolved.service
#After=systemd-resolved.service

[Service]
Type=oneshot
EnvironmentFile=/run/ignition.env
ExecStart=/usr/bin/ignition --root=/sysroot --oem=${OEM_ID} --stage=files --log-to-stdout
