[Unit]
Description=Ignition (setup base config)
Documentation=https://github.com/coreos/ignition
ConditionPathExists=/etc/initrd-release
ConditionPathExists=/run/ignition.env

DefaultDependencies=false
Before=ignition-complete.target
Before=ignition-prepare.target
Before=local-fs-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/run/ignition.env
ExecStart=/usr/sbin/ignition-setup-base
