## Ignition can load a user embedded config file. This file will usually
## sit on a separate device like the /boot partition
## (e.g. /boot/ignition/config.ign) or an external storage media. If
## specified the device will be mounted and checked for a file called
## ignition/config.ign. If available this configuration will be used,
## skipping the platform specific configuration.
## Type:        string
## Default:     none

#USER_CONFIG_DEVICE=/dev/disk/by-label/boot

## Controls whether USER_CONFIG_DEVICE will be added as a "Requires" or
## "Wants" dependency.
## Type:        yesno
## Default:     no

#REQUIRE_USER_CONFIG_DEVICE=no
